 h1 {
   text-align: center;
   font-size: 30px;
   font-family: "Courier New", Courier, monospace;
   color: blueviolet
   }

 #header1 {
   text-decoration: underline;
 }

#header2 {
   text-decoration: underline;
 }

 #image {
   text-align: center;
 }
